* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--page-background-color);
    color: var(--page-text-color);
}

/* Information at the top */
.header-text {
    place-self: center;
}

#file-full-name {
    display: none;
}

#python-cover-image, #python-hover-image {
    display: none;
}

#file-selected {
    position: absolute;
    left: 53px;
    top: 7vh;
}

#content {
    transform: translateY(15vh);
    place-self: center;
}

/* Positioning of the elements */
#name-label {
    margin-left: 150px;
}

/* Specific element styling */
.shared-effects {
    place-self: center;

    border: 3px solid var(--button-border-color);
    border-radius: 10px;

    background-color: var(--button-background-color);
    color: var(--button-text-color);
    transition: var(--transition);
}

#game-name {
    height: 25px;
    width: 300px;
}

input::file-selector-button {
    height: 25px;
    
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: 3px solid var(--button-border-color);
    border-radius: 10px;

    transition: var(--transition);
}

#game-name::placeholder {
    color: var(--button-text-color);
    place-self: center;
    transition: var(--transition);
}

#console-label {
    margin-left: 200px;
}

select {
    height: 28px;
}

#images {
    display: flex;

    gap: 10px;

    margin-left: 40px;
    transition: var(--transition);
}

#cover-preview, #hover-preview {
    width: 300px;
    height: 300px;

    object-fit: contain;
    pointer-events: none;

    border: 3px solid var(--button-border-color);
    transition: var(--transition);
}

#submit-data{
    height: 50px;
    width: 100px; 

    margin-left: 300px;
}

#invalid-data {
    opacity: 0;
    place-self: center;
    margin-top: 135px;
    margin-left: 30px;
    transition: var(--transition);
}

#invalid-data.visible {
    opacity: 1;
    place-self: center;
    margin-top: 135px;
    margin-left: 30px;
    transition: var(--transition);
}