* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
}

/* Search bar */
#search-box {
    margin-left: 5px;
    margin-top: 5px;

    display: flex;
    flex-direction: row;
}

#search-icon {
    background-image: url('images/search.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0px solid transparent;
    
    padding: 5px 5px 5px 5px;
    width: 40px;
    height: 44px;
    
    background-color: var(--button-background-color);
    transition: var(--transition);
}

#search-bar, #search-bar:focus {
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    outline: none;
    
    padding: 5px 5px 5px 5px;
    height: 32px;
    width: 40%;

    font-size: large;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    transition: var(--transition);
}

#search-bar::placeholder {
    color: var(--button-text-color);
    transition: var(--transition);
}

/* Arrows for scrolling */
#console-left, #console-right {
    position: absolute;
    top: 185px;

    --width: 50px;
    height: 180px;
    aspect-ratio: 3/5;

    background-color: var(--button-border-color);
    transition: var(--transition);
}

#console-left:hover, #console-right:hover {
    background-color: var(--button-hover-color);
    transition: var(--transition);
}

#console-left {
    left: 5px;

    clip-path: polygon(100% 0,calc(100% - var(--width)) 0,0 50%,calc(100% - var(--width)) 100%,100% 100%,var(--width) 50%);
}

#console-right {
    right: 5px;

    clip-path: polygon(0 0,var(--width) 0,100% 50%,var(--width) 100%,0 100%,calc(100% - var(--width)) 50%);
}

/* Consoles */
#console-container {
    display: flex;
    flex-direction: row;

    height: 350px;
    margin-left: 60px;
    overflow: hidden;

    margin-top: 10px;
}

#consoles {
    display: flex;
    flex-direction: row;

    margin-left: 60px;

    transition: var(--transition);
}

.console-div {
    display: flex;
    flex-direction: column;

    place-self: center;
    position: relative;
}

.console-button {
    width:  300px;
    height: 300px;

    margin-right: 150px;
    background-color: var(--button-background-color);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--button-border-color);

    place-self: center;
    transition: var(--transition);
} 

.console-button:hover {
    width:  325px;
    height: 325px;

    background-color: var(--button--color);
    transition: var(--transition);
}

.console-path::before {
    content: "Modify emulator path";
    font-size: 0px;
    transition: var(--transition);
}

.console-path {
    position: absolute;
    top: 0px;
    right: 150px;

    place-self: start;
    width: auto;
    font-size: 17px;
    height: 25px;

    color: var(--button-text-color);
    border: 3px solid var(--button-border-color);
    transition: var(--transition);
}

.console-path:hover {
    font-size: 0px;
    transition: var(--transition);
}

.console-path:hover.console-path::before {
    font-size: 17px;
    transition: var(--transition);
}

/* Games */
#games {
    display: grid;
}

.game-div {
    display: flex;
    flex-direction: column;

    position: relative;
    place-self: center;
    margin-bottom: 50px;
}

.game {
    width: 300px;
    height: 300px;
    place-self: center;

    border: 1px solid var(--button-border-color);
    transition: var(--transition);
}

.game-text {
    place-self: center;
}

.game-console {
    position: absolute;
    top: 0px;
    right: 0px;

    place-self: start;
    width: auto;

    color: var(--button-text-color);
    border: 3px solid var(--button-border-color);
    transition: var(--transition);
}

/* Sizing based on screen size */
#ratio {
    position: absolute;
    top: 5px;
    right: 5px;
}

@media (max-width: 620px) {
    #games {
        grid-template-columns: 100%;
    }
}

@media (min-width: 621px) and (max-width: 920px) {
    #games {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (min-width: 921px) and (max-width: 1200px) {
    #games {
        grid-template-columns: repeat(3, 33%);
    }
}

@media (min-width: 1201px) and (max-width: 1520px) {
    #games {
        grid-template-columns: repeat(4, 25%);
    }
}

@media (min-width: 1521px) {
    #games {
        grid-template-columns: repeat(5, 20%);
    }
}