* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Search bar */
#search-box {
    margin-left: 5px;
    margin-top: 5px;

    display: flex;
    flex-direction: row;
    /* place-self: center; */
}

#search {
    background-image: url('images/search.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0px solid transparent;
    padding: 5px 5px 5px 5px;

    width: 40px;
    height: 44px;
}

#search-bar, #search-bar:focus {
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    outline: none;
    
    padding: 5px 5px 5px 5px;
    height: 32px;
    width: 40%;

    font-size: large;
}

/* Arrows for scrolling */
.arrow-left, .arrow-right {
    position: absolute;

    --width: 50px;
    height: 220px;
    aspect-ratio: 3/5;

    background-color: #ff0000;
}

.arrow-left {
    left: 5px;

    clip-path: polygon(100% 0,calc(100% - var(--width)) 0,0 50%,calc(100% - var(--width)) 100%,100% 100%,var(--width) 50%);
}

.arrow-right {
    right: 5px;

    clip-path: polygon(0 0,var(--width) 0,100% 50%,var(--width) 100%,0 100%,calc(100% - var(--width)) 50%);
}

.console-arrow {
    top: 125px;
}

/* Consoles */
#console-container {
    display: flex;
    flex-direction: row;

    height: 300px;
    /* max-width: calc(5 * 300); */
    width: 100%;
    margin-left: 5px;
    gap: 5px;
    overflow: hidden;

    margin-top: 10px;
}

#consoles {
    display: flex;
    /* grid-template-areas: "a b c d e"; */
    flex-direction: row;

    margin-left: 60px;
    gap: 5px;
}

.console {
    width:  300px;
    height: 300px;
    place-self: center;
}

#carosel-0 {
    grid-area: "a";
}

#carosel-1 {
    grid-area: "b";
}

#carosel-2 {
    grid-area: "c";
}

#carosel-3 {
    grid-area: "d";
}

#carosel-4 {
    grid-area: "e";
}